@use '../../../styles/variables' as vars;

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  width: 60%;
  padding: 1.5rem;
  border: 1px solid vars.$main-text-color;
  border-radius: 0.5rem;
}
