@use '../../../../styles/variables' as vars;

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 10%;
  padding: 0.5rem;
  border-bottom: 1px solid vars.$main-text-color;

  .controls-buttons {
    display: flex;
    gap: 0.8rem;
  }

  .user-name {
    font-size: 2rem;
  }
}
